.color-gc {
	background-color: #007a53;
}

.color-cnp {
	background-color: #;
}

.logo-subtitle {
	text-decoration: italic;
}

ul {
	padding-left: 30px;
	margin-top: 10px;
	margin-bottom: 15px;
}

ul li {
    list-style-type: disc;
}